
html{scroll-behavior: smooth;
}

*{box-sizing: border-box;}

	body{background: #003333;
        font-family: 'Pragati Narrow', sans-serif;
        margin: 0;
}
.maincontent{font-size: 70px;
    color: whitesmoke;
    text-align: left;
    text-shadow:  2px 3px 3px black;
    margin-left: 40px;
    font-family: 'Rajdhani', sans-serif;
animation: slideleft 1s linear forwards;
   animation-delay: 0.5s;
   visibility: hidden;
}

@keyframes slideleft{
  0%{transform: translate(100px);
    visibility: visible;
  }
   100%{transform: translate(0px);
    visibility: visible;
  }
}

.instruction{background: whitesmoke;
    color: #003333;
    width: 400px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 0px 0px 10px black;
     margin-left: 10px;
     margin-bottom: 35px;
animation: zoomin 2s linear forwards;
  visibility: hidden;
  animation-delay: 1s;
  text-shadow: 0px 0px 0px;
}

@keyframes zoomin{
  0%{transform: scale(0.01);
    visibility: visible;
  }
   100%{transform: scale(1);
    visibility: visible;
  }
}

li{padding:7px;
}
button{background: #003333;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
	margin: 15px;
}

a button:hover{opacity: 0.9;
}

.footer {
   width: 100%;
   background-color:  #001a1a;
   color: white;
    text-align: center;
   padding: 25px;
}

.footer a{
   text-decoration: none;
   color: white;
}

.footer img{width: 50px;
    margin:  15px;
}

@media screen and (max-width: 500px) {
    .maincontent{margin-top: 30%;
        font-size: 16px;
	margin-left: 13px;
    }
  .footer{ position: relative;
   left: 0;
   bottom: 0;}
   .instruction{width: 90%;
   }

  }
